OPENAI_API_KEY=
ALI_API_KEY=
VV_API_KEY=
LLM_MODEL_MODE=ali
LLM_NAME=qwen2.5-14b-instruct
OLLAMA_HOST=http://localhost:11434
OLLAMA_API_URL=http://localhost:11434/api/generate
LLAMA_TOKENIZER_MODEL_NAME=Qwen/Qwen2.5-14B-Instruct
LLAMA_EMBEDDING_MODEL_NAME=bge-m3
